<div class="footer-cadre">
  <div class="centree">
    <div class="row">

        <div class="col-sm-4 col-xs-12">
          <div class="text-center">
            <h5 class="footitle">QUI SOMMES-NOUS ?</h5>
              <p><%= link_to 'A propos', '#1' %></p>
              <p><%= link_to 'Mentions légales', 'mentions.html' %></p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="text-center">
            <h5 class="footitle">LA CARTE</h5>
              <p><%= link_to 'Nos entrées', 'entrees.html' %></p>
              <p><%= link_to 'Nos plats', 'plats.html' %></p>
              <p><%= link_to 'Accompagnements', 'accomps.html' %></p>
              <p><%= link_to 'Desserts', 'desserts.html' %></p>
          </div>
        </div>

          <div class="col-sm-4 col-xs-12">
            <div class="text-center">
              <h5 class="footitle">SUIVEZ-NOUS</h5>
              <a href="https://www.facebook.com/profile.php?id=100058083176574" target="_blank"><img src="images/ico-facebook.png" alt="facebook" class="gafa-icon"></a>
              <a href="#"><img src="images/ico-instagram.png" alt="instagram" class="gafa-icon"></a>
            </div>
        </div>

      </div>
  </div>
</div>


