<div class="tabs hidden-xs hidden-sm">
  <div class="tabs-item">
    <span><%= link_to 'Nos entrées', 'entrees.html' %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Nos plats', 'plats.html' %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Accompagnements', 'accomps.html' %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Desserts', 'desserts.html' %></span>
  </div>

  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>

  <div class="tabs-item">
     <span><%= link_to 'A propos', '#1' %></span>
  </div>

  <div class="tabs-item">
    <span><a href="https://www.facebook.com/profile.php?id=100058083176574" target="_blank">Actualité</a></span>
  </div>
</div><!-- Fin tabs -->

