<div class="nav-offset-top"></div>
<div class="main-titlebox-p" data-aos="flip-up">
  <img src="../images/BINH-Title_p.jpg" alt="Nos plats" width="300px">
</div>

<div class="service">
  <h4>Tous nos plats sont accompagnés de riz avec des légumes ou de nouilles / pâtes de riz</h4>
</div>

<div class="container">
  <% data.plats.each do |plat| %>
  <div class="plats-p">
    <a href="<%= plat.img_link %>" data-lightbox="photo" data-title="<%= plat.name %>"><img src="<%= plat.img_link %>" alt="image" class='plats-image rounded'></a>
    <div class="plats-description">
      <h4><%= plat.name %></h4>
    </div>
    <div class="emporter">
      <%= plat.emporter %>
    </div>
    <div class="plats-prix">
      <h4><%= plat.prix %></h4>
    </div>
  </div>
<% end %>
</div>
<%= partial 'about.html' %>
